<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GymAppEntities" connectionString="metadata=res://*/ModelEF.csdl|res://*/ModelEF.ssdl|res://*/ModelEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SLGG4A0\SQLEXPRESS;initial catalog=GymApp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>